
<!-- <li>
  <div class="row">
    <div class="col-md-2"><%#= show.name %></div>
    <div class="col-md-2"><%#= show.format %></div>
    <div class="col-md-2"><%#= show.episodes %></div>
    <div class="col-md-2"><%#= show.rating %></div>
  </div>
</li> -->
