<!-- <table>
  <%# @results.each do |format| %>
    <tr>
      <td><%#= format["format"] %></td>
      <td><%#= format["genre_name"] %></td>
      <td><%#= format["show_count"] %></td>
      <td><%#= format["avg_rating"] %></td>
    </tr>
  <%# end %>
</table> -->

<%= render partial: "data" %>